# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# prisma
/prisma/migrations

# coverage
coverage/

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# env
.env
.env.*
